<!DOCTYPE html>
<html>

<head>
  <title>Anthony's Dev Skills</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/">Home</a>
  <h1>Dev Skills</h1>
  <% if (skills.length) { %>
  <ul>
    <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>"><%= s.skill %></a>
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <h1>You Should Really Study And Get Some Skills...</h1>
  <% } %>
  <a href="/skills/new">Add To-Do</a>
</body>

</html>